.doggy-logo {
    height: 50vmin;
    pointer-events: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    outline: none;
    border: transparent;
    cursor: pointer;
}

.fast-spin-animation {
    animation-name: fast-spin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
}

.bounce-animation {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-duration: 0.3s;

}

.shrink-animation {
    animation-name: shrink;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.shake-animation {
    animation-name: shake;
    animation-iteration-count: 10;
    animation-timing-function: ease-in-out;
    animation-duration: 0.1s;
}

.spin-over-y-animation {
    animation-name: spin-over-y;
    animation-iteration-count: 10;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 0.3s;
}

.spin-over-x-animation {
    animation-name: spin-over-x;
    animation-iteration-count: 10;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 0.3s;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fast-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(2160deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(-15px);
    }
    50% {
        transform: translate(15px);
    }
    100% {
        transform: translate(-15px);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-40%);
    }
}

@keyframes spin-over-y {
    from {
        transform: matrix(1,0,0,1,0,0);
    }
    to {
        transform: matrix(-1,0,0,1,0,0);
    }
}

@keyframes spin-over-x {
    from {
        transform: matrix(1,0,0,1,0,0);
    }
    to {
        transform: matrix(1,0,0,-1,0,0);
    }
}