@import "../../../styles/couleurs";
@import "../../../styles/polices";

.resultats {
  margin: auto;
  padding-top: 10px;
  max-width: 600px;

  .conteneur-logo {
    margin: auto;
    max-width: 56px;
    margin-bottom: 73px;
  }

  .ecran-fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blanc;
    margin: auto;

    .conteneur-photo-bulle {
      width: 80px;
      height: 80px;
      margin-top: -40px;
      margin-bottom: 20px;
    }

    .texte {
      text-align: center;
      margin-bottom: 28px;

      .texte-decu {
        font-family: $anton;
        font-size: 12px;
        letter-spacing: 0.98px;
        color: $gris;
        margin-bottom: 10px;
      }

      .texte-perdu {
        font-family: $anton;
        font-size: 24px;
        letter-spacing: 1.95px;
      }
    }
  }

  .conteneur-bouton-navigation {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    margin: auto;
  }
}

