@import "../../../styles/couleurs";
@import "../../../styles/polices";

.choix-joueur {
  margin: auto;
  max-width: 600px;
  padding-top: 10px;

  .logo {
    margin: auto;
    max-width: 56px;
    margin-bottom: 20px;
  }

  .podium {
    margin: auto;
  }

  .selection {
    background: $blanc;
    padding: 20px 0;
    margin-top: -4px;

    .authentification {
      margin-bottom: 20px;
    }

    .proposition-citation {
      .bouton {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 281px;
        height: 48px;
        border-radius: 26px;
        border: solid 1px $gris-fonce;
        font-family: $arial-rounded;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: 1.14px;
        background-color: $blanc;
        outline: none;
      }
    }


  }

}