@import "../../../styles/couleurs";
@import "../../../styles/polices";

.choix-joueur {
  margin: auto;
  max-width: 600px;
  padding-top: 10px;

  .logo {
    margin: auto;
    max-width: 56px;
    margin-bottom: 20px;
  }

  .podium {
    margin: auto;
  }

  .selection {
    background: $blanc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -4px;

    .titre {
      margin-top: 0;
      margin-bottom: 22px;
      text-align: center;
      font-family: $anton;
      font-weight: normal;
      font-size: 16px;
    }

  }

}