@import "../../../styles/couleurs";
@import "../../../styles/polices";

.liste-en-chargement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 24px;

  .item-chargement {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 32px;

    .bulle {
      width: 32px;
      margin-right: 18px;
      border-radius: 999px;
      border: 1px solid white;
      background-color: $gris-clair;
    }

    .barre {
      display: block;
      border-radius: 999px;
      letter-spacing: 1.14px;
      font-size: 14px;
      height: 30%;
      width: 70%;
      background-color: $gris-clair;
      align-self: center;
    }
  }
}
