@import "../../../styles/couleurs";
@import "../../../styles/polices";

.questionnaire {
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  width: 330px;

  .fiche-question {
    width: 100%;
    min-height: 420px;
    background-color: $blanc;
    text-align: center;
    border-radius: 10px;

    .score {
      margin: -20px auto 22px;
      width: 100px;
      height: 40px;
      line-height: 40px;
    }

    .intitule-defi {
      margin: 0 auto 40px;
      max-width: 235px;
      overflow-wrap: break-word;
    }
  }

  .premier-debordement {
    content: " ";
    display: block;
    margin: auto;
    background-color: $blanc;
    opacity: 0.5;
    width: 95%;
    min-height: 18px;
    border-radius: 0 0 10px 10px;
  }

  .deuxieme-debordement {
    content: " ";
    display: block;
    margin: auto;
    background-color: $blanc;
    opacity: 0.16;
    width: 90%;
    min-height: 18px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 16px;
  }



}