.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.App-logo {
  /*animation: spin infinite 3s ease-in 0.1s;*/
  height: 40vmin;
  pointer-events: none;
}

.spin-animation {
  animation: spin infinite 20s linear;
}

.bounce-animation {
  animation: bounce 0.35s ease-in-out 0.1s infinite alternate;
}

.shrink-animation {
  animation: shrink infinite 0.5s linear;
}

.shake-animation {
  animation: shake infinite 0.1s linear;
}

.citation {
  font-weight: 600;
  font-size: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(-15px);
  }
  50% {
    transform: translate(15px);
  }
  100% {
    transform: translate(-15px);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40%);
  }
}

/*https://developer.mozilla.org/fr/docs/Web/CSS/Animations_CSS/Utiliser_les_animations_CSS*/