@import "../../../styles/couleurs";
@import "../../../styles/polices";

.photo-avec-score {
  .photo {
    background: white;
    border-radius: 999px;
    border: 1px solid white;
    width: 100%;
  }

  .score {
    position: relative;
    margin: 0;
    margin-top: -6px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: $mangue;
    color: $blanc;
    font-family: $anton;
    border-radius: 999px;
    font-size: 12px;
  }
}