@import "../../../styles/couleurs";
@import "../../../styles/polices";

.liste-en-chargement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 24px;

  .item-chargement {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .bulle {
      width: 32px;
      margin-right: 18px;
      background: grey;
      border-radius: 999px;
      border: 1px solid white;
    }

    .barre {
      font-family: $arial-rounded;
      letter-spacing: 1.14px;
      font-size: 14px;
      vertical-align: middle;
      height: 100%;
      line-height: 32px;
      margin: 0;
    }
  }
}
